[submodule "submodules/majiang-core"]
	path = submodules/majiang-core
	url = https://github.com/kazuki1023/majiang-core.git
[submodule "submodules/majiang-ai"]
	path = submodules/majiang-ai
	url = https://github.com/kazuki1023/majiang-ai.git
[submodule "submodules/majiang-ui"]
	path = submodules/majiang-ui
	url = https://github.com/kazuki1023/majiang-ui.git
[submodule "submodule/majiang-analog"]
	path = submodule/majiang-analog
	url = https://github.com/kazuki1023/majiang-analog.git
